.autoGetON {
    background-color: aquamarine;
}

.autoGetOFF {
    background-color: brown;
}

.messageWrap {
    background-color: #00a854;
    padding: 2em;
    display: flex;
    flex-direction: column-reverse;
}

.inputAreaWrap {
    margin: 2em;
}