/*mobile*/
.text {
    font-size: 4vh;
    text-align: left;
    color: steelblue;
}

.imageSmurfar {
    height: 70px;
}

.containerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: inherit;
}

.headerContainer {
    max-width: 100%;
    height: 50px;
    margin: 25px;
    padding: 0;
    background-color: #A2D8FA;
}

/*tablet*/
@media only screen and (min-width: 768px) {
    .headerContainer {
        height: 8vh;
    }

    .text {
        font-size: 5vh;
        text-align: center;
        margin-left: 100px;
    }

    .imageSmurfar {
        height: 10vh;
    }
}

/*desktop*/
@media only screen and (min-width: 1200px) {
    .headerContainer {
        height: 6vh;
    }

    .containerDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 260px;
    }

    .text {
        margin-left: 150px;
        font-size: 6vh;
    }

    .imageSmurfar {
        height: 15vh;
    }
}